<%layout("/layouts/boilerplate")%>


<section class="hero text-center text-white" 
         style="background-image: url('/images/hero.png'); 
                background-size: cover; 
                background-position: center; 
                height: 80vh; 
                display:flex; 
                align-items:center; 
                justify-content:center;">
  <div class="hero-content">
    <h1>Welcome to WanderLust</h1>
    <p>Discover unique stays and experiences around the world</p>
    <a href="/listings" class="btn btn-primary btn-lg">Explore Now</a>
  </div>
</section>
